# Terraform State & Secrets
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Keys & Credentials
*.pem
*.key
.env
k3s-key
.env.local

# Ansible
ansible/inventory.ini
*.retry

# OS files
.DS_Store
Thumbs.db

# Node (App folder)
node_modules/
dist/
build/